@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #EF2B2D */
body {
  font-family: 'Cairo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fixed-padding {
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 991px) {
  .fixed-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*         <div className="absolute animated-circle p-[50px] md:w-[600px] sm:w-[450px] w-[300px] md:h-[600px] sm:h-[450px] h-[300px]">
          <div className="animated-circle-2 md:w-[500px] sm:w-[350px] w-[200px] md:h-[500px] sm:h-[350px] h-[200px]"></div>
        </div> */
.animated-circle {
  bottom: -190px;
  transform: translate(-50%, 50%);
  border: black 2px dashed;
  border-radius: 50%;
  animation: infinite linear 2s rotateRight;
}

.animated-circle-2 {
  text-align: center;
  border: black 2px dashed;
  border-radius: 50%;
  animation: infinite linear 3s rotateRight;
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.active {
  background-color: #EF2B2D;
  color: white;
}

.cont {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .animation {
    animation: linear scrolling 5s infinite;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0%);
    }

    25% {
      transform: translateX(-10%);
    }

    50% {
      transform: translateX(0%);
    }

    75% {
      transform: translateX(10%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}